<div fxLayout="column" fxLayoutAlign="start stretch" class="cards">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="90%" fxFlex.md="66.6667%" fxFlex.gt-md="50%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>To Do List</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container>
            <ng-container>
              <span *ngFor="let toDo of toDos">
                <div *ngIf="!toDo.complete">
                  <app-todo-list (completeChange)="onCompleteToDo($event)" [toDo]="toDo"></app-todo-list>
                </div>
              </span>
            </ng-container>
            <ng-template #allDone>
              <div fxLayout="row" fxLayoutAlign="center center">
                <h4>All Done!! 🏖</h4>
              </div>
            </ng-template>
          </ng-container>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Add To Do</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-todo-form (toDoChange)="onAddToDoChange($event)"></app-todo-form>
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-button color="primary" (click)="addToDo()">Add To Do</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Completed 🎉</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container>
            <span *ngFor="let toDo of toDos">
              <div *ngIf="toDo.complete">
                <app-todo-list [toDo]="toDo" (completeChange)="onIncompleteToDo($event)"></app-todo-list>
              </div>
            </span>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>